:root{
box-sizing: border-box;
font-size: 16px;	
}
*,
::before,
::after{
	box-sizing: inherit;
}

body{
	font-family: 'ProximaNova';
}

.wrap{
max-width: 940px;
margin: 0 auto;


}

.header-nav{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 20px;

}
.nav{
	list-style-type: none;
	display: flex;
}

.nav__item{
	margin-left: 40px;
}
.nav__link{
	color: var(--color-text-gray);
	text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.nav__link:hover {
	color: var(--color-text-black);
	font-size: 15px;
}

.header-intro{
	background-image: url(Bg1.png);
	background-size: cover;
	height: 530px;
	background-repeat: no-repeat;
	margin-top: -20px;
	
}

.header-intro-mask{
	background-color:rgba(0, 0, 0, 0.80);
	height: 530px;
	
}

.header-intro__title{
	font-size: 3.7rem;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height:1.4 ;
	padding-top:120px ;
	margin-left:100px;
	margin-right: 100px;
	text-align: center;
	
}




.header-intro__desc {
	font-size: 15px;
	color: rgb(255, 255, 255);
	line-height: 1;
	text-align: center;
	margin-top: -10px;
	
  }

  .header-intro__btn{
	 display: block;
    background: #05e49a; /* Серый цвет фона */
    color: rgb(255, 255, 255); /* Белый цвет текста */
    padding: 1rem 1.3rem ; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
	border-radius: 27px; /* Скругляем уголки */
	margin: 0 auto;
	width: 200px;
	margin-top: 50px;
	text-align: center;
  }
  

  .header-intro__btn:hover{
	
    background: #d4d8d7; /* Серый цвет фона */
    color: rgb(10, 2, 2); /* Белый цвет текста */
   
  }