:root{
box-sizing: border-box;
font-size: 16px;	
}
*,
::before,
::after{
	box-sizing: inherit;
}

body{
	font-family: 'ProximaNova';
}

.wrap{
max-width: 940px;
margin: 0 auto;


}

.header-nav{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 20px;

}
.nav{
	list-style-type: none;
	display: flex;
}

.nav__item{
	margin-left: 40px;
}
.nav__link{
	color: var(--color-text-gray);
	text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.nav__link:hover {
	color: var(--color-text-black);
	
	font-weight:bolder;
}

.header-intro{
	background-image: url(/img/Bg1.png);
	background-size: cover;
	height: 530px;
	background-repeat: no-repeat;
	margin-top: -20px;
	
}

.header-intro-mask{
	background-color:rgba(0, 0, 0, 0.80);
	height: 530px;
	
}

.header-intro__title{
	font-size: 3.7rem;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height:1.4 ;
	padding-top:120px ;
	margin-left:100px;
	margin-right: 100px;
	text-align: center;
	
}




.header-intro__desc {
	font-size: 15px;
	color: rgb(255, 255, 255);
	line-height: 1;
	text-align: center;
	margin-top: -10px;
	
  }

  .header-intro__btn{
	 display: block;
    background: #05e49a; /* Серый цвет фона */
    color: rgb(255, 255, 255); /* Белый цвет текста */
    padding: 1rem 1.3rem ; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
	border-radius: 27px; /* Скругляем уголки */
	margin: 0 auto;
	width: 200px;
	margin-top: 50px;
	text-align: center;
  }
  

  .header-intro__btn:hover{
	
    background: #d4d8d7; /* Серый цвет фона */
    color: rgb(10, 2, 2); /* Белый цвет текста */
   
  }


  .block{
	background-size: cover;
	height: 535px;
	background-repeat: no-repeat;
	display: block;
	
	

  }
  .block__title{
	  display: block;
	font-size:  2.7rem;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	line-height: 1.175;
	font-weight: bolder;
	text-align: center;
	padding-top: 50px;
	margin: 0 auto;
	
  }
  
  .block__subtitle{
	display: block;
	font-size:  1.1rem;
	color: rgb(119, 119, 119);
	line-height: 1.175;
	text-align: center;
	margin: 0 auto;
	font-family: 'Roboto Slab';
	
  }
  
.service{
	display: flex;
	justify-content: space-between;
	
}

.feature{
	display: block;
	text-align: center;
	padding: 30px;
	padding-top:90px;
}

.feature__title{
	font-size: 18px;
	font-family: "Montserrat";
	color: rgb(34, 34, 34);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.feature__desc{
	font-family: 'Roboto Slab';
	color: rgb(119, 119, 119);
	font-size: 14px;
}

.relax{
	display: flex;
	height: 615px;
	width: 100%;


}

.relax__left{
	position: relative;
	background-color:rgb(192, 189, 189);
	flex-basis:30%;
}


.relax__gear{
	position: absolute;
	background-image: url(/img/gear.png);
	background-repeat: no-repeat;
    width: 380px;
    height: 420px;
    top:100px;
	right: -190px;
	z-index: 1;
}

.relax__right{
	background-image: url(/img/Bg2.png);
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	flex-basis: 70%;
	z-index: 3;
    
}
.relax-mask{
	background-color:rgba(0, 0, 0, 0.80);
	height: 615px;
}


.block__title--white {
    color: rgb(255, 255, 255);
    text-align: left;
	line-height: 1.2;
	position: absolute;
	padding-top: 100px;
	padding-left: 80px;
	font-weight: bolder;
	
	
}
.block__apm {
    color:#05e49a;;

}
.block__subtitle--service {
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    max-width: 550px;
	line-height: 1.5;
	position: absolute;
	padding-left: 80px;
	padding-top: 230px;
	font-family: "RobotoSlab";
	
}
.relax__list {
    list-style-type: none;
    text-align: left;
    color: rgb(255, 255, 255);
	margin-left: 30px;
	position: absolute;
	padding-left: 80px;
	padding-top: 290px;
}

.relax__item {
    position: relative;
    margin-top: 30px;
    padding-left: 20px;
}
.relax__item::before {
    content: '';
    background-image: url('/img/marker.svg');
    width: 31px;
    height: 31px;
    position: absolute;
    left: -30px;
    top: -10px
}

.relax-intro__btn{
	position: absolute;
	
	display: block;
   background: #05e49a;
   color: rgb(255, 255, 255); 
   padding: 1.2rem 1.3rem ; 
   text-decoration: none; 
   border-radius: 27px; 
   text-align: center;
  width: 180px;
  margin-top: 520px;
  margin-left: 80px;
  font-weight: bold;
   
 }
 

 .relax-intro__btn:hover{
   
   background: #d4d8d7; 
   color: rgb(10, 2, 2); 
  
 }




 .block-project{
	background-size: cover;
	height: 824px;
	background-repeat: no-repeat;
	
	display: block;
    margin-top: 80px;
    position: relative;
}



.project{
	display: block;
	
	position: absolute;
	text-align: left;
	
}


.block-project__ipad{
display: block;
background-image: url(/img/Air.png);
position: absolute;
background-repeat: no-repeat;
width: 680px;
height: 600px;
right: 0;
}

.project__desc{
	  width: 400px;
	  color: rgb(119, 119, 119);
}


.project-list{
	display: block;
	width: 420px;
	
}

.project-list__item{
	  display: flex;
	  justify-content: space-between;
}

.project__title{
	margin-top: 80px;
}

.project-list__desc {
	font-size: 16px;
	font-family: "RobotoSlab";
	color: rgb(119, 119, 119);
	line-height: 1.2;
	text-align: left;
	margin: 5px;;
  }
  




.project-list__title{
	font-size: 18px;
	font-family: "Montserrat";
	color: rgb(34, 34, 34);
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	margin: 3px;
	margin-top: 10px;
	
}

.project__link{
	 text-decoration: none;
	 color: #05e49a;

}


.project__link:hover{
	font-weight: bold;
	color: black;
}



.ffffffffffffffffffffffffffffffffffffffffffff {
	background-color: rgb(119, 119, 119);
	position: absolute;
	left: 450px;
	top: 2918px;
	width: 170px;
	height: 3px;
	z-index: 139;
  }
  

  .block--light-gray{
	background-size: cover;
	height: 560px;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	
	
	

  }
 
  
  .block__subtitle{
	display: block;
	font-size:  1.1rem;
	color: rgb(119, 119, 119);
	line-height: 1.175;
	text-align: center;
	margin: 0 auto;
	font-family: 'Roboto Slab';
	
  }
  
.culture{
	display: flex;
	justify-content: space-between;
	
}

.feature{
	display: block;
	text-align: center;
	padding: 30px;
	padding-top:90px;
}

.feature__title{
	font-size: 18px;
	font-family: "Montserrat";
	color: rgb(34, 34, 34);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.feature__desc{
	font-family: 'Roboto Slab';
	color: rgb(119, 119, 119);
	font-size: 14px;
}


.feature_line1{
	background-color: rgb(119, 119, 119);
	position: absolute;
	left: 515px;
	top: 255px;
	width: 170px;
	height: 3px;
	z-index: 139;
}


.feature_line2{
	background-color: rgb(119, 119, 119);
	position: absolute;
	left: 830px;
	top: 255px;
	width: 170px;
	height: 3px;
	z-index: 139;
}
